# Cli build artifacts
build/
dist/
wild
*.deb
__debug*

# Go build cache
*.o
*.a
*.so
__debug*

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out
*.cover
*.coverage

# Go workspace file
go.work
go.work.sum
